/* DMS Matugen Zen Browser Theme */
:root {
  --zen-primary-color: #004d66 !important;
  --toolbarbutton-icon-fill: #8ccff1 !important;
  --toolbar-field-color: #dfe3e7 !important;
  --tab-selected-textcolor: #8ccff1 !important;
  --toolbar-color: #dfe3e7 !important;
  --arrowpanel-color: #dfe3e7 !important;
  --arrowpanel-background: #1b2023 !important;
  --sidebar-text-color: #dfe3e7 !important;
  --zen-main-browser-background: #0f1417 !important;
}

.sidebar-placesTree {
  background-color: #1b2023 !important;
}

#zen-workspaces-button {
  background-color: #1b2023 !important;
}

#TabsToolbar {
  background-color: #0f1417 !important;
}

.urlbar-background {
  background-color: #1b2023 !important;
}

.urlbar-input::selection {
  color: #003547 !important;
  background-color: #8ccff1 !important;
}

.urlbarView-url {
  color: #c0c7cd !important;
}

toolbar .toolbarbutton-1 {
  &:not([disabled]) {
    &:is([open], [checked])
      > :is(
        .toolbarbutton-icon,
        .toolbarbutton-text,
        .toolbarbutton-badge-stack
      ) {
      fill: #8ccff1
    }
  }
}

.identity-color-blue {
  --identity-tab-color: #a4e0ff !important;
  --identity-icon-color: #a4e0ff !important;
}

.identity-color-turquoise {
  --identity-tab-color: #8ccff1 !important;
  --identity-icon-color: #8ccff1 !important;
}

.identity-color-green {
  --identity-tab-color: #a5ffb0 !important;
  --identity-icon-color: #a5ffb0 !important;
}

.identity-color-yellow {
  --identity-tab-color: #fff9a5 !important;
  --identity-icon-color: #fff9a5 !important;
}

.identity-color-orange {
  --identity-tab-color: #fff672 !important;
  --identity-icon-color: #fff672 !important;
}

.identity-color-red {
  --identity-tab-color: #ff9fbd !important;
  --identity-icon-color: #ff9fbd !important;
}

.identity-color-pink {
  --identity-tab-color: #b4e5ff !important;
  --identity-icon-color: #b4e5ff !important;
}

.identity-color-purple {
  --identity-tab-color: #19526f !important;
  --identity-icon-color: #19526f !important;
}

#zen-appcontent-navbar-container {
  background-color: #0f1417 !important;
}

#PanelUI-menu-button .toolbarbutton-icon,
#downloads-button .toolbarbutton-icon,
#unified-extensions-button .toolbarbutton-icon {
  fill: #8ccff1 !important;
  color: #8ccff1 !important;
}

#PanelUI-menu-button .toolbarbutton-badge-stack,
#downloads-button .toolbarbutton-badge-stack,
#unified-extensions-button .toolbarbutton-badge-stack {
  fill: #8ccff1 !important;
  color: #8ccff1 !important;
}

toolbar .toolbarbutton-1 > .toolbarbutton-icon {
  fill: #8ccff1 !important;
}
